
.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    scroll-margin-top: 10px;
}

.container {
    font-family: 'Ebrima', Georgia, 'Times New Roman', Times, serif;
}

.container .navbar-brand {
    font-family: 'Magneto Bold', Georgia, 'Times New Roman', Times, serif;
}

.container .navbar-brand span {
    color: #ffb702f6;
}

.display-4 {
    font-family: 'Comic Sans MS';
}